.container-bg {
  background-color: #181712;
}

#searchTerm {
  background-color: #181712;
  color: #fefefe;
}

.input-group-btn {
  background-color: #B7AB5C;
}

#song_list table th,#search_list table th{
  color: #fefefe;
  background-color: #6A6A6A;
}

.color-white {
  color: #FFFFFF;
  text-shadow: 5px 5px 5px black;
}

img{
  float: left;
  width: 3em;
  height: 3em;
}
